PORT=5003
NODE_ENV=development
CORS_ORIGIN=http://localhost:5191
FRONTEND_ORIGIN=http://localhost:5173
ADMIN_ORIGIN=http://localhost:5191
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/udai
MONGODB_DB_NAME=udai
