VITE_ADMIN_API_BASE=https://udaiapi.datamoshtechnologies.com/api/admin
VITE_PUBLIC_UPLOAD_BASE_URL=https://udaiapi.datamoshtechnologies.com
VITE_ADMIN_URL=https://admin.udairehab.org
VITE_SITE_URL=https://udairehab.org
